/** FONTS */
@font-face {
    font-family: "Hurmit Nerd Font";
    font-style:  normal;
    src:         url("../fonts/HurmitNerdFont-Regular.otf");
}
@font-face {
    font-family: "Mintsoda";
    font-style:  normal;
    src:         url("../fonts/mintsoda.ttf");
}


/** GLOBAL STYLING  */

:root {
    --bg-dark:          #191a1a;
    --fg-light:         #f0e9f4;
    --color-accent:     #fcbff7;

    --border-width:     .3rem;
}

* {
    box-sizing: border-box;
    color:      var(--fg-light);

    margin:     0;
    padding:    0;

    /* transition: .1s; */
    font-family: "Hurmit Nerd Font";
}

body,
html {
    background-color: var(--bg-dark);
}

main {
    padding: 2rem 12rem;
    overflow: hidden;
}
header {
    padding: .5rem 12rem
}

button {
    background-color: transparent;
    border:           unset;
    cursor:           pointer;
    font-size:        unset;
    text-align:       unset;
}

/**TEXT STYLES */
a {
    text-decoration: none;
}

.adaptive-text-x {
    font-size: clamp(1rem, 5dvw, 2rem);
}
.adaptive-text-m {
    font-size: clamp(.6rem, 4dvw, 1.5rem);
}

.font-pixel * {
    font-family: "Mintsoda";
}


/**FANCY STUFF */
.divider {
    height:           .1rem;
    margin:           1rem 0;
    
    background-color: var(--fg-light);
}


/**RRRRESPONSIVE */
@media screen and (max-width: 1024px) {
    main {
        padding: 2rem 6rem;
    }
    header {
        padding: .5rem 6rem
    }
}

@media screen and (max-width: 728px) {
    main {
        padding: 2rem 2rem;
    }
    header {
        padding: .5rem 2rem
    }
}
